<!DOCTYPE html>
<html>
    <head>
        <link href="/css/main.css" />
    </head>
    <body>
        <%- include(header) %>
        <div class="container-lg" style="min-height: 500px">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Username</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Setting</th>
                    </tr>
                </thead>
                <tbody id="table_rows">
                    <% data.map((item) => { %>
                    <tr id="row_<%= item.id %>">
                        <th scope="row"><%= item.id %></th>
                        <td><%= item.username %></td>
                        <td id="fullname_<%= item.id %>"><%= item.fullname %></td>
                        <td id="address_<%= item.id %>"><%= item.address %></td>
                        <!-- button group -->
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button
                                    type="button"
                                    id="seem-btn"
                                    class="btn btn-link"
                                    value="<%= item.id %>"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                >
                                    <i class="fa-regular fa-eye" id="<%= item.id %>"></i>
                                </button>
                                <button
                                    type="button"
                                    id="update-btn"
                                    class="btn btn-link"
                                    value="<%= item.id %>"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                >
                                    <i class="fa-regular fa-pen-to-square" id="<%= item.id %>"></i>
                                </button>
                                <button
                                    type="button"
                                    id="delete-btn"
                                    class="btn btn-link"
                                    value="<%= item.id %>"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                >
                                    <i class="fa-regular fa-trash-can" id="<%= item.id %>"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <button
                id="add-btn"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
            >
                Thêm người dùng
            </button>
            <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">a</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form name="update-form">
                                <!-- Username -->
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <!-- Password -->
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" />
                                </div>
                                <!-- Fullname -->
                                <div class="mb-3">
                                    <label for="fullname" class="form-label">Fullname</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <!-- Address -->
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <!-- Gender -->
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <div class="form-check form-check-inline" id="gender">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="inlineRadioOptions"
                                            id="men"
                                            value="0"
                                            checked
                                        />
                                        <label class="form-check-label" for="inlineRadio1"
                                            >Nam</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="inlineRadioOptions"
                                            id="women"
                                            value="1"
                                        />
                                        <label class="form-check-label" for="inlineRadio2"
                                            >Nữ</label
                                        >
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="inlineRadioOptions"
                                            id="orthers"
                                            value="2"
                                        />
                                        <label class="form-check-label" for="inlineRadio3"
                                            >Khác</label
                                        >
                                    </div>
                                </div>
                                <!-- Email -->
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Huỷ
                            </button>
                            <button type="button" id="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(footer) %>

        <script src="/js/mainPage.js"></script>
    </body>
</html>
